# Do not upload raw and RPKM data from recount3
data/raw
data/replicates_merged
data/rpkm
data/all_counts.rds
# Do not upload uncorrected and corrected expression matrices
data/adipose/all/uncorrected_expression/*.rds
data/airway/all/uncorrected_expression/*.rds
data/blood/all/uncorrected_expression/*.rds
data/B_cells/all/uncorrected_expression/*.rds
data/breast/all/uncorrected_expression/*.rds
data/cardiac/all/uncorrected_expression/*.rds
data/central_nervous_system/all/uncorrected_expression/*.rds
data/colon/all/uncorrected_expression/*.rds
data/esophagus/all/uncorrected_expression/*.rds
data/eye/all/uncorrected_expression/*.rds
data/fibroblasts/all/uncorrected_expression/*.rds
data/hescs/all/uncorrected_expression/*.rds
data/ipscs/all/uncorrected_expression/*.rds
data/intestine/all/uncorrected_expression/*.rds
data/kidney/all/uncorrected_expression/*.rds
data/liver/all/uncorrected_expression/*.rds
data/lung/all/uncorrected_expression/*.rds
data/multipotent_cells/all/uncorrected_expression/*.rds
data/myeloid_cells/all/uncorrected_expression/*.rds
data/nervous_system/all/uncorrected_expression/*.rds
data/pancreas/all/uncorrected_expression/*.rds
data/pbmcs_t_cells/all/uncorrected_expression/*.rds
data/prostate/all/uncorrected_expression/*.rds
data/skeletal_muscle/all/uncorrected_expression/*.rds
data/skin/all/uncorrected_expression/*.rds
data/stomach/all/uncorrected_expression/*.rds
data/vascular/all/uncorrected_expression/*.rds

data/adipose/GTEx/uncorrected_expression/*.rds
data/blood/GTEx/uncorrected_expression/*.rds
data/B_cells/GTEx/uncorrected_expression/*.rds
data/breast/GTEx/uncorrected_expression/*.rds
data/cardiac/GTEx/uncorrected_expression/*.rds
data/central_nervous_system/GTEx/uncorrected_expression/*.rds
data/colon/GTEx/uncorrected_expression/*.rds
data/esophagus/GTEx/uncorrected_expression/*.rds
data/fibroblasts/GTEx/uncorrected_expression/*.rds
data/intestine/GTEx/uncorrected_expression/*.rds
data/kidney/GTEx/uncorrected_expression/*.rds
data/liver/GTEx/uncorrected_expression/*.rds
data/lung/GTEx/uncorrected_expression/*.rds
data/nervous_system/GTEx/uncorrected_expression/*.rds
data/pancreas/GTEx/uncorrected_expression/*.rds
data/prostate/GTEx/uncorrected_expression/*.rds
data/skeletal_muscle/GTEx/uncorrected_expression/*.rds
data/skin/GTEx/uncorrected_expression/*.rds
data/stomach/GTEx/uncorrected_expression/*.rds
data/vascular/GTEx/uncorrected_expression/*.rds

data/adipose/all/corrected_expression/*.rds
data/airway/all/corrected_expression/*.rds
data/blood/all/corrected_expression/*.rds
data/B_cells/all/corrected_expression/*.rds
data/breast/all/corrected_expression/*.rds
data/cardiac/all/corrected_expression/*.rds
data/central_nervous_system/all/corrected_expression/*.rds
data/colon/all/corrected_expression/*.rds
data/esophagus/all/corrected_expression/*.rds
data/eye/all/corrected_expression/*.rds
data/fibroblasts/all/corrected_expression/*.rds
data/hescs/all/corrected_expression/*.rds
data/ipscs/all/corrected_expression/*.rds
data/intestine/all/corrected_expression/*.rds
data/kidney/all/corrected_expression/*.rds
data/liver/all/corrected_expression/*.rds
data/lung/all/corrected_expression/*.rds
data/multipotent_cells/all/corrected_expression/*.rds
data/myeloid_cells/all/corrected_expression/*.rds
data/nervous_system/all/corrected_expression/*.rds
data/pancreas/all/corrected_expression/*.rds
data/pbmcs_t_cells/all/corrected_expression/*.rds
data/prostate/all/corrected_expression/*.rds
data/skeletal_muscle/all/corrected_expression/*.rds
data/skin/all/corrected_expression/*.rds
data/stomach/all/corrected_expression/*.rds
data/vascular/all/corrected_expression/*.rds

data/adipose/GTEx/corrected_expression/*.rds
data/blood/GTEx/corrected_expression/*.rds
data/B_cells/GTEx/corrected_expression/*.rds
data/breast/GTEx/corrected_expression/*.rds
data/cardiac/GTEx/corrected_expression/*.rds
data/central_nervous_system/GTEx/corrected_expression/*.rds
data/colon/GTEx/corrected_expression/*.rds
data/esophagus/GTEx/corrected_expression/*.rds
data/fibroblasts/GTEx/corrected_expression/*.rds
data/intestine/GTEx/corrected_expression/*.rds
data/kidney/GTEx/corrected_expression/*.rds
data/liver/GTEx/corrected_expression/*.rds
data/lung/GTEx/corrected_expression/*.rds
data/nervous_system/GTEx/corrected_expression/*.rds
data/pancreas/GTEx/corrected_expression/*.rds
data/prostate/GTEx/corrected_expression/*.rds
data/skeletal_muscle/GTEx/corrected_expression/*.rds
data/skin/GTEx/corrected_expression/*.rds
data/stomach/GTEx/corrected_expression/*.rds
data/vascular/GTEx/corrected_expression/*.rds

data/all_consensus/uncorrected_expression/GTEx/*.rds
data/all_consensus/uncorrected_expression/sra/*.rds
data/all_consensus/uncorrected_expression/tcga/*.rds

data/normal_consensus/uncorrected_expression/GTEx/*.rds
data/normal_consensus/uncorrected_expression/sra/*.rds
data/normal_consensus/uncorrected_expression/tcga/*.rds

data/cancer_consensus/uncorrected_expression/sra/*.rds
data/cancer_consensus/uncorrected_expression/tcga/*.rds

data/all_consensus/corrected_expression/*.rds
data/normal_consensus/corrected_expression/*.rds
data/cancer_consensus/corrected_expression/*.rds

data/all_consensus/single_covariances/*.rds
data/normal_consensus/single_covariances/*.rds
data/cancer_consensus/single_covariances/*.rds

data/all_consensus/weighted_covariances/*.rds
data/normal_consensus/weighted_covariances/*.rds
data/cancer_consensus/weighted_covariances/*.rds

data/GTEx/uncorrected_expression/*.rds
data/GTEx/corrected_expression/*.rds
data/GTEx/single_covariances/*.rds
data/GTEx/pooling_after_correcting/*.rds
data/GTEx/correcting_after_pooling/*.rds
data/GTEx/weighted_covariances/*.rds
data/GTEx/unweighted_covariances/*.rds

data/sra_normal/uncorrected_expression/*.rds
data/sra_normal/corrected_expression/*.rds
data/sra_normal/single_covariances/*.rds
data/sra_normal/pooling_after_correcting/*.rds
data/sra_normal/correcting_after_pooling/*.rds
data/sra_normal/weighted_covariances/*.rds
data/sra_normal/unweighted_covariances/*.rds
# Do not upload all the derived covariance matrices, will be provided in Zenodo
data/adipose/all/single_covariances/*.rds
data/airway/all/single_covariances/*.rds
data/blood/all/single_covariances/*.rds
data/B_cells/all/single_covariances/*.rds
data/breast/all/single_covariances/*.rds
data/cardiac/all/single_covariances/*.rds
data/central_nervous_system/all/single_covariances/*.rds
data/colon/all/single_covariances/*.rds
data/esophagus/all/single_covariances/*.rds
data/eye/all/single_covariances/*.rds
data/fibroblasts/all/single_covariances/*.rds
data/hescs/all/single_covariances/*.rds
data/ipscs/all/single_covariances/*.rds
data/intestine/all/single_covariances/*.rds
data/kidney/all/single_covariances/*.rds
data/liver/all/single_covariances/*.rds
data/lung/all/single_covariances/*.rds
data/multipotent_cells/all/single_covariances/*.rds
data/myeloid_cells/all/single_covariances/*.rds
data/nervous_system/all/single_covariances/*.rds
data/pancreas/all/single_covariances/*.rds
data/pbmcs_t_cells/all/single_covariances/*.rds
data/prostate/all/single_covariances/*.rds
data/skeletal_muscle/all/single_covariances/*.rds
data/skin/all/single_covariances/*.rds
data/stomach/all/single_covariances/*.rds
data/vascular/all/single_covariances/*.rds

data/adipose/GTEx/single_covariances/*.rds
data/blood/GTEx/single_covariances/*.rds
data/B_cells/GTEx/single_covariances/*.rds
data/breast/GTEx/single_covariances/*.rds
data/cardiac/GTEx/single_covariances/*.rds
data/central_nervous_system/GTEx/single_covariances/*.rds
data/colon/GTEx/single_covariances/*.rds
data/esophagus/GTEx/single_covariances/*.rds
data/fibroblasts/GTEx/single_covariances/*.rds
data/intestine/GTEx/single_covariances/*.rds
data/kidney/GTEx/single_covariances/*.rds
data/liver/GTEx/single_covariances/*.rds
data/lung/GTEx/single_covariances/*.rds
data/nervous_system/GTEx/single_covariances/*.rds
data/pancreas/GTEx/single_covariances/*.rds
data/prostate/GTEx/single_covariances/*.rds
data/skeletal_muscle/GTEx/single_covariances/*.rds
data/skin/GTEx/single_covariances/*.rds
data/stomach/GTEx/single_covariances/*.rds
data/vascular/GTEx/single_covariances/*.rds

data/adipose/all/weighted_covariances/*.rds
data/airway/all/weighted_covariances/*.rds
data/blood/all/weighted_covariances/*.rds
data/B_cells/all/weighted_covariances/*.rds
data/breast/all/weighted_covariances/*.rds
data/cardiac/all/weighted_covariances/*.rds
data/central_nervous_system/all/weighted_covariances/*.rds
data/colon/all/weighted_covariances/*.rds
data/esophagus/all/weighted_covariances/*.rds
data/eye/all/weighted_covariances/*.rds
data/fibroblasts/all/weighted_covariances/*.rds
data/hescs/all/weighted_covariances/*.rds
data/ipscs/all/weighted_covariances/*.rds
data/intestine/all/weighted_covariances/*.rds
data/kidney/all/weighted_covariances/*.rds
data/liver/all/weighted_covariances/*.rds
data/lung/all/weighted_covariances/*.rds
data/multipotent_cells/all/weighted_covariances/*.rds
data/myeloid_cells/all/weighted_covariances/*.rds
data/nervous_system/all/weighted_covariances/*.rds
data/pancreas/all/weighted_covariances/*.rds
data/pbmcs_t_cells/all/weighted_covariances/*.rds
data/prostate/all/weighted_covariances/*.rds
data/skeletal_muscle/all/weighted_covariances/*.rds
data/skin/all/weighted_covariances/*.rds
data/stomach/all/weighted_covariances/*.rds
data/vascular/all/weighted_covariances/*.rds

data/adipose/GTEx/weighted_covariances/*.rds
data/blood/GTEx/weighted_covariances/*.rds
data/B_cells/GTEx/weighted_covariances/*.rds
data/breast/GTEx/weighted_covariances/*.rds
data/cardiac/GTEx/weighted_covariances/*.rds
data/central_nervous_system/GTEx/weighted_covariances/*.rds
data/colon/GTEx/weighted_covariances/*.rds
data/esophagus/GTEx/weighted_covariances/*.rds
data/fibroblasts/GTEx/weighted_covariances/*.rds
data/intestine/GTEx/weighted_covariances/*.rds
data/kidney/GTEx/weighted_covariances/*.rds
data/liver/GTEx/weighted_covariances/*.rds
data/lung/GTEx/weighted_covariances/*.rds
data/nervous_system/GTEx/weighted_covariances/*.rds
data/pancreas/GTEx/weighted_covariances/*.rds
data/prostate/GTEx/weighted_covariances/*.rds
data/skeletal_muscle/GTEx/weighted_covariances/*.rds
data/skin/GTEx/weighted_covariances/*.rds
data/stomach/GTEx/weighted_covariances/*.rds
data/vascular/GTEx/weighted_covariances/*.rds

data/blood/all/weighted_covariances/only_sra/*.rds
data/central_nervous_system/all/weighted_covariances/only_sra/*.rds
# Don't add individual networks
results/weighted_cov_networks/adipose/all/net_11/lambda*.rds
results/weighted_cov_networks/airway/all/net_8/lambda*.rds
results/weighted_cov_networks/blood/all/net_65/lambda*.rds
results/weighted_cov_networks/B_cells/all/net_17/lambda*.rds
results/weighted_cov_networks/breast/all/net_12/lambda*.rds
results/weighted_cov_networks/cardiac/all/net_13/lambda*.rds
results/weighted_cov_networks/central_nervous_system/all/net_53/lambda*.rds
results/weighted_cov_networks/colon/all/net_10/lambda*.rds
results/weighted_cov_networks/eye/all/net_2/lambda*.rds
results/weighted_cov_networks/esophagus/all/net_3/lambda*.rds
results/weighted_cov_networks/fibroblasts/all/net_13/lambda*.rds
results/weighted_cov_networks/hescs/all/net_21/lambda*.rds
results/weighted_cov_networks/intestine/all/net_9/lambda*.rds
results/weighted_cov_networks/ipscs/all/net_14/lambda*.rds
results/weighted_cov_networks/kidney/all/net_26/lambda*.rds
results/weighted_cov_networks/liver/all/net_28/lambda*.rds
results/weighted_cov_networks/lung/all/net_10/lambda*.rds
results/weighted_cov_networks/multipotent_cells/all/net_6/lambda*.rds
results/weighted_cov_networks/myeloid_cells/all/net_29/lambda*.rds
results/weighted_cov_networks/pancreas/all/net_3/lambda*.rds
results/weighted_cov_networks/pbmcs_t_cells/all/net_58/lambda*.rds
results/weighted_cov_networks/prostate/all/net_6/lambda*.rds
results/weighted_cov_networks/skeletal_muscle/all/net_8/lambda*.rds
results/weighted_cov_networks/stomach/all/net_4/lambda*.rds
results/weighted_cov_networks/skin/all/net_20/lambda*.rds
results/weighted_cov_networks/vascular/all/net_4/lambda*.rds

results/weighted_cov_networks/adipose/GTEx/net_2/lambda*.rds
results/weighted_cov_networks/blood/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/B_cells/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/breast/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/cardiac/GTEx/net_2/lambda*.rds
results/weighted_cov_networks/central_nervous_system/GTEx/net_13/lambda*.rds
results/weighted_cov_networks/colon/GTEx/net_2/lambda*.rds
results/weighted_cov_networks/esophagus/GTEx/net_3/lambda*.rds
results/weighted_cov_networks/fibroblasts/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/intestine/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/kidney/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/liver/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/lung/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/pancreas/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/prostate/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/skeletal_muscle/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/stomach/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/skin/GTEx/net_2/lambda*.rds
results/weighted_cov_networks/vascular/GTEx/net_3/lambda*.rds

results/weighted_cov_networks/blood/all/only_sra/net_1/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_5/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_10/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_15/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_20/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_25/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_30/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_35/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_40/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_45/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_50/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_55/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_60/lambda*.rds
results/weighted_cov_networks/blood/all/only_sra/net_64/lambda*.rds

results/weighted_cov_networks/central_nervous_system/all/only_sra/net_1/lambda*.rds
results/weighted_cov_networks/central_nervous_system/all/only_sra/net_5/lambda*.rds
results/weighted_cov_networks/central_nervous_system/all/only_sra/net_10/lambda*.rds
results/weighted_cov_networks/central_nervous_system/all/only_sra/net_15/lambda*.rds
results/weighted_cov_networks/central_nervous_system/all/only_sra/net_20/lambda*.rds
results/weighted_cov_networks/central_nervous_system/all/only_sra/net_25/lambda*.rds
results/weighted_cov_networks/central_nervous_system/all/only_sra/net_30/lambda*.rds
results/weighted_cov_networks/central_nervous_system/all/only_sra/net_35/lambda*.rds
results/weighted_cov_networks/central_nervous_system/all/only_sra/net_40/lambda*.rds


results/weighted_cov_networks/all_consensus/net_966/lambda*.rds
results/weighted_cov_networks/normal_consensus/net_629/lambda*.rds
results/weighted_cov_networks/cancer_consensus/net_386/lambda*.rds

results/weighted_cov_networks/sra_normal/net_1/lambda*.rds
results/weighted_cov_networks/sra_normal/net_100/lambda*.rds
results/weighted_cov_networks/sra_normal/net_200/lambda*.rds
results/weighted_cov_networks/sra_normal/net_300/lambda*.rds
results/weighted_cov_networks/sra_normal/net_400/lambda*.rds
results/weighted_cov_networks/sra_normal/net_500/lambda*.rds
results/weighted_cov_networks/sra_normal/net_566/lambda*.rds

results/weighted_cov_networks/GTEx/net_1/lambda*.rds
results/weighted_cov_networks/GTEx/net_10/lambda*.rds
results/weighted_cov_networks/GTEx/net_20/lambda*.rds
results/weighted_cov_networks/GTEx/net_30/lambda*.rds
results/weighted_cov_networks/GTEx/net_40/lambda*.rds
results/weighted_cov_networks/GTEx/net_49/lambda*.rds

results/unweighted_cov_networks/sra_normal/net_1/lambda*.rds
results/unweighted_cov_networks/sra_normal/net_100/lambda*.rds
results/unweighted_cov_networks/sra_normal/net_200/lambda*.rds
results/unweighted_cov_networks/sra_normal/net_300/lambda*.rds
results/unweighted_cov_networks/sra_normal/net_400/lambda*.rds
results/unweighted_cov_networks/sra_normal/net_500/lambda*.rds
results/unweighted_cov_networks/sra_normal/net_566/lambda*.rds

results/unweighted_cov_networks/GTEx/net_1/lambda*.rds
results/unweighted_cov_networks/GTEx/net_10/lambda*.rds
results/unweighted_cov_networks/GTEx/net_20/lambda*.rds
results/unweighted_cov_networks/GTEx/net_30/lambda*.rds
results/unweighted_cov_networks/GTEx/net_40/lambda*.rds
results/unweighted_cov_networks/GTEx/net_49/lambda*.rds

results/pooling_after_correcting/sra_normal/net_1/lambda*.rds
results/pooling_after_correcting/sra_normal/net_100/lambda*.rds
results/pooling_after_correcting/sra_normal/net_200/lambda*.rds
results/pooling_after_correcting/sra_normal/net_300/lambda*.rds
results/pooling_after_correcting/sra_normal/net_400/lambda*.rds
results/pooling_after_correcting/sra_normal/net_500/lambda*.rds
results/pooling_after_correcting/sra_normal/net_566/lambda*.rds

results/pooling_after_correcting/GTEx/net_1/lambda*.rds
results/pooling_after_correcting/GTEx/net_10/lambda*.rds
results/pooling_after_correcting/GTEx/net_20/lambda*.rds
results/pooling_after_correcting/GTEx/net_30/lambda*.rds
results/pooling_after_correcting/GTEx/net_40/lambda*.rds
results/pooling_after_correcting/GTEx/net_49/lambda*.rds

results/correcting_after_pooling/sra_normal/net_1/lambda*.rds
results/correcting_after_pooling/sra_normal/net_100/lambda*.rds
results/correcting_after_pooling/sra_normal/net_200/lambda*.rds
results/correcting_after_pooling/sra_normal/net_300/lambda*.rds
results/correcting_after_pooling/sra_normal/net_400/lambda*.rds
results/correcting_after_pooling/sra_normal/net_500/lambda*.rds
results/correcting_after_pooling/sra_normal/net_566/lambda*.rds

results/correcting_after_pooling/GTEx/net_1/lambda*.rds
results/correcting_after_pooling/GTEx/net_10/lambda*.rds
results/correcting_after_pooling/GTEx/net_20/lambda*.rds
results/correcting_after_pooling/GTEx/net_30/lambda*.rds
results/correcting_after_pooling/GTEx/net_40/lambda*.rds
results/correcting_after_pooling/GTEx/net_49/lambda*.rds
